---

# tasks file for tomcat
- name: Install "{{ app_server_service }}" package(s)
  package:
    name: "{{ app_server_packages }}"
    state: present

- name: Enable "{{ app_server_service }}" at boot
  service:
    name: "{{ app_server_service }}"
    enabled: yes

- name: Create "{{ app_server_service }}" content directory
  file:
    path: "{{ tomcat_web_root }}"
    state: directory

- name: Copy static index.html to "{{ tomcat_web_root }}"
  template:
    src: index.html.j2
    dest: "{{ tomcat_web_root }}/index.html"
    mode: 0644
  notify: restart "{{ app_server_service }}"

# The code in below is needed when using this role in the 'multi-tier' env
# - name: Create symlink to resolve tomcat java issue
#   file:
#     src: /usr/share/java/tomcat/extras/tomcat-juli.jar
#     dest: /usr/share/tomcat/bin/tomcat-juli.jar
#     state: link

